*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    background-color: #202426;
    height: 100vh;
    color: #F28D8D;
}

main{
    background-color: #303639;
    min-height: 20rem;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button{
    width: 6rem;
}

.arquivo{
    width: 100%;
    border-bottom: solid #F28D8D;
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.arquivo div{
    min-width: 3rem;
}

.imagem{
    height: 2rem;
}

.nome{
    font-size: 1rem;
    margin-left: 2rem;
}

.lixeira{
    height: 2rem;
    
}