*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    background-color: #202426;
    height: 100vh;
    color: #F28D8D;
}

main{
    background-color: #303639;
    min-height: 20rem;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button{
    width: 6rem;
}