*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    color: white;
    background-color: #202426;
    font-family: 'Inter';
}

form{
    margin: auto;
    height: 100%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.input{
    border-bottom: solid #F27781;
    width: 15rem;
}

input:focus {
    outline: none;
    border: none;
}

.input input{
    width: 100%;
    background-color: #202426;
    border: none;
    color: white;
}

button{
    color: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #F27781;
    cursor: pointer;
}