*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #202426;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
}

.inserirImagens{
    color: white;
    width: 100%;
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contornoInterno{
    border: solid #D95B66;
    border-radius: 1rem;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
}

.listagemImagens{
    padding-top: 1rem;
    width: 70%;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.item{
    border: solid #D95B66;
    border-radius: 0.5rem;
    width: 10rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imagemLista{
    background-color: white;
    width: 8rem;
    height: 10rem;
}

a{
    text-decoration: none;
}

.backArrow{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

.backArrow img{
    width: 3rem;
    height: 3rem;
}

.aviso{
    color: red;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 22rem;
}

button{
    background-color: #D95B66;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn{
    display: flex;
    gap: 0.5rem;
}

.baixarImg{
    height: 1.5rem;
    position: absolute;
    top: 5px;
    right: 5px;
}

.lixeira, .editar{
    height: 25px;
}

.instagram, .x, .tiktok{
    width: 72%;
}