*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    background-color: #141414;
    width: 1rem;
}

::-webkit-scrollbar-thumb{
    background-color: #FF9090;
    border-radius: 2rem;
}
/* Header */
#header{
    width: 100%;
    height: 10rem;
    display: flex;
    position: absolute;
    z-index: 1;
}

#header div{
    height: 100%;
    width: 55%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header div a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/* Fim Header */

/* Slideshow */
#slideshow{
    background-color: black;
}

.imgSlide{
    filter: opacity(70%);
    filter: blur(2px);
}
/* Fim Slideshow */

/* Portfolio de imagens */
#portfolio{
    background-color: #141414;
    width: 100%;
    height: 45rem;
    display: flex;
}

#portfolio #contorno{
    position: relative;
    margin: auto;
    width: 95%;
    height: 90%;
    border-style: solid;
    border-radius: 1rem;
    border-color: #FFA1A1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#portfolio #contorno .port{
    height: 17rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* .port-img{
    filter: grayscale(100%);
    transition: 0.5s;
}

.port-img:hover{
    filter: grayscale(0%);
} */

#instagramLink{
    position: absolute;
    height: 2rem;
    bottom: 1rem;
    left: 1rem;
}
/* Fim portfolio de imagens */

/* Área de anúncios */
#anuncios{
    background-color: rgb(255, 213, 213);
    width: 100%;
    text-align: center;
}

#anuncios img{
    max-width: 100%;
}
/* Fim área de anúncios */

/* Fotos do Salão */
#fotosSalao{
    position: relative;
    background-color: #F2F2F2;
    width: 100%;
    height: 45rem;
    display: flex;
}

.imgSalao{
    margin: auto;
    z-index: 1;
    display: flex;
    height: 100%;
}

.imgSalao img{
    margin: auto;
    height: 70%;
}

.legendaSalao{
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.legendaSalao img{
    height: 50%;
}

.pattern{
    z-index: 0;
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    height: 45rem;
}
/* Fim Fotos do Salão */

/* Área de roupas */
#roupas{
    width: 100%;
    height: 35rem;
    display: flex;
    overflow: hidden;
    position: relative;
}

#roupas img{
    position: absolute;
    min-width: 100%;
}

#roupas .contorno2{
    position: relative;
    margin: auto;
    width: 95%;
    height: 90%;
    border-style: solid;
    border-radius: 1rem;
    border-color: white;
    z-index: 1;
}

#roupas .contorno2 div{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    font-family: "Inter", sans-serif;
    width: 30rem;
    left: 1.5rem;
    bottom: 1.5rem;
}

#roupas .contorno2 div h1{
    font-size: 3rem;
    font-weight: 400;
}

#roupas .contorno2 div h2{
    font-size: 2.2rem;
    font-weight: 200;
}
/* Fim área de roupas */

/* Instagram */
#instagram{
    background-color: #141414;
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.containerInst{
    margin: auto;
    width: 65%;
    display: flex;
}

.conInsUm{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.fotoUsuario{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

.conInsDois{
    width: 70%;
    height: 30%;
}

.infoInstUm, .infoInstDois{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.infoInstUm, .infoInstDois{
    font-size: 1.5rem;
    color: black;
}

.infoBtn{
    background-color: white;
    padding: 0 1rem 0 1rem;
    border-radius: 0.3rem;
}

#feed{
    margin: auto;
    width: 70rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.post{
    background-color: white;
    width: 18rem;
    height: 18rem;
}
/* Fim Instagram */

/* Lista de Funcionários */
#secFuncionarios{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#tituloFuncionarios{
    width: 70%;
    margin: auto;
    font-family: 'Inter';
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: #FF9090;
}

#divFuncionarios{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    z-index: 1;
}

.container{
    width: 12rem;
}

.funcionario{
    background-color: white;
    width: 12rem;
    height: 17rem;
    border-radius: 0.5rem;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.425));
}

.foto{
    width: 12rem;
    height: 14.5rem;
    overflow: hidden;
}

.foto img{
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.nome{
    height: 2.5rem;
    width: 12rem;
    display: flex;
}

.nome span{
    margin: auto;
}

.contatos{
    width: 12rem;
    height: 2rem;
    margin-top: 0.5rem;
}

.contatos a{
    text-decoration: none;
}

.contatos img{
    height: 1.5rem;
}
/* Fim Lista de Funcionários */

/* Informações do Salão */
#infoSalao{
    width: 100%;
    height: 30rem;
    margin-bottom: 10rem;
}

#info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#info div{
    margin-top: 5rem;
    height: 7rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-family: 'Inter';
}

#info div h2{
    color: #FA8282;
}
/* Fim Informações do Salão */

/* Fale Conosco */
#contato{
    background-color: #151515;
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

#faleConosco{
    color: #F3AF00;
    font-size: 2.5rem;
}

#faleConoscoDiv{
    margin: auto;
    width: 58%;
    height: 100%;
    padding-top: 2rem;
}

#nomeEmail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.nomeInput, .email{
    background-color: white;
    width: 49.5%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    border-radius: 2rem;
}

.nomeInput input, .email input{
    height: 2.5rem;
    width: 86%;
    border-radius: 2rem;
    border-style: none;
    outline: none;
}

.assuntoInput{
    background-color: white;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

.assuntoInput input{
    height: 2.5rem;
    width: 92%;
    border-radius: 2rem;
    border-style: none;
    outline: none;
}

#areaTexto{
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    border-style: none;
    outline: none;
    resize: none;
    font-family: 'Inter';
}

#logo{
    height: 6rem;
    margin-bottom: 3rem;
}
/* Fim Fale Conosco */